body {
  font-family: "Noto Sans JP", sans-serif;
  background-color: #c99e93;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

nav {
  /* background-color: #a5b3aa; */
}

img {
  border-radius: 3%;
  width: 270px;
  height: 400px;
  text-align: center;
  margin: auto;
  display: block;
  filter: drop-shadow(2px 4px 8px #585858);
}

.title {
  background-color: #d5d2c8;
  /* text-align: left; */
  position: relative;
  left: 750px;
  width: 500px;
  height: 500px;
}

.big-heading {
  padding: 15% 0% 0% 15%;
  text-align: left;
  color: #fff;
}

#about {
  position: relative;
  top: -400px;
  left: 300px;
  width: 500px;
  height: 300px;
  padding: 2% 0;
  background-color: #ecebe8;
}

#projects {
  padding: 100px;
}

#contact {
  padding: 5% 15%;
  background-color: #ecebe8;
}

.title-text {
  font-family: "Sacramento", cursive;
}

.colored-section {
  padding: 7% 15%;
  /* background-color: #c99e93; */
}

.project-column {
  padding: 3% 2%;
}

#projects img {
  width: 325px;
  height: 200px;
  padding-top: 20px;
}

.contact-icon {
  margin: 20px 10px;
}

.tech-font {
  font-size: 0.8rem;
}

.mern-stack {
  padding: 2%;
}
